.home {

  .homeContent {
    background: linear-gradient(115deg, $color-2 50%, transparent 100%);
    min-height: $minHeight;
    width: 100%;
    min-height: 500px;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: inherit;
      background: url('../../media/header.jpg') no-repeat center/cover;
      z-index: -1;
    }

    .content {
      position: absolute;
      top: 20%;
      left: 10%;
      font-family: $font-1;

      h1 {
        font-size: 4.2rem;
        font-family: $font-3;
        color: $color-5;
        text-transform: uppercase;
        text-shadow: 3px 6px 2px $color-1;
      }

      h2 {
        font-size: 2.5rem;
        padding: 1.5rem 0 1.5rem;
        color: $color-1;
        text-shadow: 1px 2px 1px $black;
      }
      h5 {
        font-size: 1.4rem;
        padding: .5rem 0 2rem;
        color: $color-3;
        font-family: $font-3;
      }

      .presentation {
        width: 80%;
        text-align: left;
        font-size: 1.2rem;
        color: $black;
        font-family: $font-3;
        padding: 0 0 2rem;

        &:nth-child(3) {
          margin-bottom: 2rem;
        }

        span {
          font-size: 1.8rem;
          color: $color-1;
        }
      }

      .opquast {
        margin: 1rem;
        text-align: center;
        a{
          font-size: 1.3rem;
          color: $color-3;
          text-decoration: underline;
          transition: 0.2s ease;
          &:hover {
            color: $color-4;
          }
        }
      }

      .pdf {
        a {
          font-size: 1.5rem;
          background: $color-2;
          padding: 1rem 2rem;
          border-radius: $borderRadius;
          box-shadow: 0 1px 1px rgb(15, 15, 15);
          transition: 0.2s ease;

          &:hover {
            background: $color-4;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1001px) {
  .homeContent {
    .presentation {
      display: none;
    }
  }
}

@media screen and (max-width: 850px) {
  .homeContent {
    margin: 0 !important;
  }
}

@media screen and (max-width:580px) {
  .homeContent {
    &:after {
      background: url('../../media/header.jpg') no-repeat 60% 50%/cover !important;
    }

    h1 {
      font-size: 3rem !important;
    }

    h2 {
      font-size: 1.8rem !important;
    }
  }
}

@media screen and (max-width: 384px) {
  .pdf {
    a {
      font-size: 1rem !important;
    }

  }
}